*{
    margin: 0;
    padding: 0;
}
body {
    background: #f8f8f7;
    padding: 25px; 
}
#main{
    padding: 5%
}
img {
    width: 100%;
}
.container-lense{
    display: flex;
    flex-wrap: wrap;
}
.logo {
    width: 200px;
    height: 100px;
}
.main-nav {
    display: flex;
    justify-content: space-between;
}
/* header */
#sse1 {
    background-color: #222;
    height: 57px;
    padding: 15px;
    border-radius: 3px;
}
#sses1 {
    margin:0 auto;
}
#sses1 ul  { 
    position: relative;
    list-style-type: none;
    float:left;
    padding:0;margin:0;
    
}
#sses1 li {
    float:left;
    list-style-type: none;
    padding:0;margin:0;background-image:none;
}

#sses1 li.highlight {
    background-color: rgb(207, 142, 142);
    top:36px;
    height:2px;
    border-bottom:solid 4px rgb(214, 176, 176);
    z-index: 1;
    position: absolute;
    overflow:hidden;
    
}
#sses1 li a
{
    height:30px;
    padding-top: 8px;
    margin: 0 20px;/*used to adjust the distance between each menu item. Now the distance is 20+20=40px.*/
    color: #fff;
    font: normal 12px arial;
    text-align: center;
    text-decoration: none;
    float: left;
    display: block;
    position: relative;
    z-index: 2;
}
.padding_top{
    padding-top: 40px;
}
button {
    width: 200px;
    height: 50px;
    background: none;
}
button:hover{
    position: relative;
    top: -6px;
    box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
    background: rgb(205, 235, 205);
}
/* cart */
.cart_icon{
    width: 40px;
}
.main_img {
   width: 400px;
   height: auto;
}

/* slide */
#main-slide{
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider{
    width: 550px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    border: 20px;
}
.slider:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 550px;
    height: 500px;
}

/* css for manual slide navigation */
.navigation-manual{
    position: absolute;
    width: 560px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 3px solid rgb(91, 87, 87);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;   
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: rgb(91, 87, 87);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}

/*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 560px;
    justify-content: center;
    margin-top: 470px;
}

.navigation-auto div{
    border: 2px solid rgb(91, 87, 87);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 42px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(91, 87, 87);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(91, 87, 87);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(91, 87, 87);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(91, 87, 87);
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: rgb(91, 87, 87);
}

/* shop */
.shops{
    width: 20px;
    display: flex;
}

/* footer */
#footer{
    background-color: #222;
    height: 150px;
    padding: 15px;
    border-radius: 3px;
}
.cont-footer{
    list-style: none;
    padding: 30px;
}
.cont-footer li{
    color: #f8f8f7;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
}
.topnav #myLinks {
    display: none;
}





/* responsive */


@media only screen and (max-width: 481px){
    body{
        padding: 8px;
        width: 460px;
    }
    .slider{
        width: 460px;
    }
    .navigation-manual{
        width: 460px;
    }
    .navigation-auto{
        width: 460px;
    }
    #footer{
        height: 60px;
    }
    #sse1{
        height: 60px;
    }
    .cont-footer{
        padding: 0;
    } 
    .cont-footer li{
        font-size: 15px;
        padding: 2px;  
    }
    #main-slide{
        width: 463px;    
    }
    .slide img{
        width: 458px;
        height: 490px;
    }
    /* burger menu */
    

}


    

